<%= form_with( model: [:admin, @user], url: admin_user_path, local: true) do |f| %>
  <div class="user_name form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="user_email form-group">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="user_password form-group">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="user_password_confirmation form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit "Update account" %>
  <% end %>